In [1071]:
import yfinance as yf
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [1072]:
ticker = 'PETR4.SA'
df = yf.download(ticker, start="2023-01-01", end="2024-01-01")

[*********************100%***********************]  1 of 1 completed

In [1073]:
df.head()

Price           Close       High        Low       Open     Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA
Date
2023-01-02  14.456955  15.018328  14.381264  14.848025   78424700
2023-01-03  14.091116  14.570492  13.958656  14.469571   96750300
2023-01-04  14.538951  14.879560  13.769428  13.851426  129504000
2023-01-05  15.062480  15.163402  14.602028  14.721872   73886000
2023-01-06  14.974175  15.340015  14.854331  15.100327   51851500

### Tratamento

In [1074]:
df.columns = [col[1] for col in df.columns]

In [1075]:
df.columns.values[0]

'PETR4.SA'

In [1076]:
df.columns.values[0] = 'Close'
df.columns.values[1] = 'High'
df.columns.values[2] = 'Low' 
df.columns.values[3] = 'Open'  
df.columns.values[4] = 'Volume'

In [1077]:
df.columns

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [1078]:
df = df.reset_index()

          Date      Close       High        Low       Open     Volume
0   2023-01-02  14.456955  15.018328  14.381264  14.848025   78424700
1   2023-01-03  14.091116  14.570492  13.958656  14.469571   96750300
2   2023-01-04  14.538951  14.879560  13.769428  13.851426  129504000
3   2023-01-05  15.062480  15.163402  14.602028  14.721872   73886000
4   2023-01-06  14.974175  15.340015  14.854331  15.100327   51851500
..         ...        ...        ...        ...        ...        ...
243 2023-12-21  29.720167  29.957015  29.458819  29.948846   30511900
244 2023-12-22  30.006023  30.055024  29.703837  29.810011   31234700
245 2023-12-26  30.487881  30.520547  30.079524  30.104025   23466800
246 2023-12-27  30.512384  30.569554  30.324541  30.479715   19588500
247 2023-12-28  30.414377  30.512382  30.251034  30.406208   21421900

[248 rows x 6 columns]

In [ ]:
df